* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

/* Music Player - Credit to Traversy Media */
h4 {
  font-family: 'Big Shoulders Stencil Display', cursive;
}

.music-container {
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fafafa;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 35%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  } 

  to {
  transform:rotate(360deg);
  }
}

.navigation {
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn-big {
  background-color: #fafafa;
  border: 0;
  color: #cf2323;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: #cf2323;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  opacity: 0;
  padding: 10px 10px 10px 5px;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}

.progress {
  background-color: black;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* Board */
.Soprano-game {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding: 52px;
  }

.Soprano-card {
  width: 50%;
  margin: auto;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
}

.Soprano-card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.Back-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  height: 90%;
  position: absolute;
  text-align: center;
  top: 10px;
}

.front-card,
.back-card {
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Soprano_image {
  text-align: center;
  width: 100%;
  height: inherit;
  top: 40px;
}  

@media (min-width: 500px) {
  .Soprano-card {
    width: 25%;
  }
}
