* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: black;
}

/* Music Player */
h4 {
  color: white;
}

.music-container {
  background-color: #fafafa;
  border-radius: 50px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  width: 110px;
  position: relative;
}

.img-container::after {
  content: '';
  background: white;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
}

.action-btn {
  border: 0;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
}

.action-btn:active {
  transform: scale(.97);
}

.music-info {
  background: purple;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 120px;
  width: calc(100% - 40px);
  padding: 10px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in opacaity 0.3s ease-in;
}

.music-info h4 {
  margin: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.progress-container {
  background: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background: yellow;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1 linear;
}

/* Checklist */
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  right: 5rem;
}

ul h1 {
  color: #fafafa;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: 900;
}

li {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: 500;
  font-size: 20px;
  color: #fafafa;
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}

/* Board */
.Soprano-game {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 200px);
}

.Soprano-card {
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  height: 99%;
}

.Soprano-card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front-card {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.Back-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  height: 90%;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
}

.front-card,
.back-card {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
display: flex;
}

.Soprano_image {
  text-align: center;
  width: 100%;
  height: 100%;
}  
