* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: black;
}

/* Soprano Game */
.Soprano-game {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 200px);
}

/* Soprano-card */
.Soprano-card {
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

/* Soprano-Card:Flip */
.Soprano-card.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* Front Card */
.front-card {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

/* Back_card */
.Back-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
}

/* Back-Card, Front-Card */
.front-card,
.back-card {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
display: flex;
}

/* Soprano-image */
.Soprano_image {
  text-align: center;
  width: 100%;
}  
